<div data-role="content">
	<div class="tiles">
		<div class="tile left">
			<%= link_to new_entry_path, "data-role" => "button" do %>
				<%= image_tag "#{root_path}assets/add.png", :width => "100px"%><br />
				Eintrag hinzufügen
			<% end %>
		</div>
		<div class="tile">
			<%= link_to entries_path, "data-role" => "button" do %>
				<%= image_tag "#{root_path}assets/calendar.png", :width => "100px"%><br />
				Eintragsübersicht
			<% end %>
		</div>
		<div class="tile left">
			<%= link_to statistics_path, "data-role" => "button" do %>
				<%= image_tag "#{root_path}assets/chart.png", :width => "100px"%><br />
				Auswertungen
			<% end %>
		</div>
		<div class="tile">
			<%= link_to settings_path, "data-role" => "button" do %>
				<%= image_tag "#{root_path}assets/help.png", :width => "100px"%><br />
				Einstellungen
			<% end %>
		</div>
	</div>
</div>
