<%= form_for(@entry) do |f| %>
	<div data-role="content">
	    <% if @entry.errors.any? %>
	      <div id="error_explanation">
	        <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this note from being saved:</h2>
	        <ul>
	        <% @entry.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	        </ul>
	      </div>
	    <% end %>
	    <div data-role="fieldcontain">
	      <%= f.label :start_pit, "Startzeitpunkt"%>
	      <%= f.text_field :start_pit, :required => true%>
	    </div>
	    <div data-role="fieldcontain">
	      <%= f.label :end_pit, "Endzeitpunkt"%>
	      <%= f.text_field :end_pit, :required => true%>
	    </div>
		<div data-role="fieldcontain">
	      <%= f.label :entry_type, "Schmerzart"%>
		  <%= f.select :entry_type, ["Spannungskopfschmerz", "Migräne", "Cluster-Kopfschmerzen", "Hormonelle Kopfschmerzen", "Rebound-Kopfschmerzen", "Sinus-Kopfschmerzen", "Organische Kopfschmerzen", "Sekundäre Kopfschmerzen"].sort , {:include_blank => "Kopfschmerzart auswählen.."}, {"data-native-menu" => true}%>		
		</div>
		<div data-role="fieldcontain">
	      <%= f.label :location_ids, "Schmerzort(e)"%>
		  <%= f.collection_select :location_ids, Location.all, :id, :title, {:selected => @entry.location_ids, :include_blank => "Schmerzort(e) auswählen.."}, { :multiple => true }%>
		</div>
		<div data-role="fieldcontain">
	      <%= f.label :intensity, "Schmerzstärke"%>
	      <%= f.select :intensity, ["0 Schmerzfrei", "1 Sehr leichter Schmerz", "2 Leichter Schmerz", "3 Leichter bis mäßiger Schmerz", "4 Mäßiger Schmerz", "5 Mäßiger bis starker Schmerz", "6 Etwas stärkerer Schmerz", "7 Störender Schmerz", "8 Starker Schmerz", "9 Sehr starker Schmerz", "10 Extrem starker Schmerz"], {:include_blank => "Schmerzstärke auswählen.."},  {"data-native-menu" => true} %>
		</div>
		<div data-role="fieldcontain">
	      <%= f.label :trigger_ids, "Auslöser"%>
		  <%= f.collection_select :trigger_ids, Trigger.all, :id, :title, {:selected => @entry.trigger_ids, :include_blank => "Auslöser auswählen.."}, { :multiple => true,  "data-native-menu" => true }%>
		</div>
		<div data-role="fieldcontain">
		  <%= f.label :nausea, "Verursacht Übelkeit"%>
		  <%= f.check_box :nausea %>
		</div>
		<!-- medication fields -->
		<div data-role="fieldcontain">
		  <%= f.label :comments, "Kommentare Übelkeit"%>
		  <%= f.text_area :comments, :placeholder => "Kommentare"%>
		</div>
	</div>
	<div data-role="navbar" data-position="fixed">
		<ul>
			<li><%= f.submit "Speichern", :class => "ui-btn-active ui-state-persist" %></li>
			<li><%= link_to "Abbrechen", "#", "data-rel" => "back"%></li>
		</ul>
	</div><!-- /navbar -->	
<% end %>

<%= javascript_tag do%>
$(function () {
var now = new Date();

    $('#entry_start_pit, #entry_end_pit').mobiscroll().datetime({
        minDate: new Date(now.getFullYear(), now.getMonth(), now.getDate()),
        theme: 'android-ics light',
        lang: 'de',
        display: 'modal',
        mode: 'mixed'
    });  	
})
<% end %>

