<div id="articles">
</div>

<div data-role="header">
  <%= link_to "<", root_path, "data-role" => "button", "data-icon" => "arrow-l", "data-iconpos" => "notext" %>
  <h1>Einträge</h1>
</div>
<div data-role="content">
  <div id="entrycal">
	  <h2 id="month">
	    <div class="month_wrapper">
	    	<%= link_to "<", {date: @date.prev_month}, "data-role" => "button", "data-icon" => "arrow-l", "data-iconpos" => "notext" %>
	    	<span><%= l @date, :format => '%B %Y' %></span>
	    	<%= link_to ">", {date: @date.next_month}, "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "notext" %>
	    </div>
	  </h2><br />
	  <ul data-role="listview">
	  <%= calendar @date do |date| %>
	    <% if @entries_by_date[date] %>
	    	<%= link_to date.day, daylist_entries_path(:date => date) %>
	    <% else %>
	    	<%= date.day %>
	    <% end %>
	  <% end %>
	</div>
</div>
<div data-role="navbar" data-position="fixed">
	<ul>
		<li><%= link_to "Neuer Eintrag", new_entry_path, "data-icon" => "plus", "data-iconpos" => "left" %></li>
	</ul>
</div>
