<div data-role="header">
  <%= link_to "<", root_path, "data-icon" => "home"%>
  <h1>Einträge</h1>
</div>
<div data-role="content">
  <ul data-role="listview">
  <% @entries.each do |entry| %>
    <li>
    <%= link_to entry do %>
      <h2><%= entry.start_pit %></h2>
      <%= entry.duration %>
      <%= entry.intensity %>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
<div data-role="footer">
  <%= link_to 'Eintrag hinzufügen', new_entry_path %>
</div>
