<p id="notice"><%= notice %></p>

<p>
  <b>Pit:</b>
  <%= @entry.pit %>
</p>

<p>
  <b>Duration:</b>
  <%= @entry.duration %>
</p>

<p>
  <b>Type:</b>
  <%= @entry.type %>
</p>

<p>
  <b>Location:</b>
  <%= @entry.location %>
</p>

<p>
  <b>Intensity:</b>
  <%= @entry.intensity %>
</p>

<p>
  <b>Trigger:</b>
  <%= @entry.trigger %>
</p>

<p>
  <b>Nausea:</b>
  <%= @entry.nausea %>
</p>

<p>
  <b>Medication:</b>
  <%= @entry.medication %>
</p>

<p>
  <b>Medication amount:</b>
  <%= @entry.medication_amount %>
</p>

<p>
  <b>Medication effect:</b>
  <%= @entry.medication_effect %>
</p>

<p>
  <b>Comments:</b>
  <%= @entry.comments %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
