<div data-role="header">
  <h1>Eintrag #<%= @entry.id %></h1>
</div>
<div data-role="content">
  <p id="notice"><%= notice %></p>
  <p>
  	<h3>Zeitpunkt</h3>
    <%= @entry.start_pit %>
  </p>
  <p>
  	<h3>Dauer</h3>
    <%= distance_of_time_in_words(@entry.duration) %>
  </p>
  <p>
  	<h3>Schmerzart</h3>
    <%= @entry.entry_type %>
  </p>
  <p>
  	<h3>Schmerzort</h3>
    <ul>
      <% @entry.locations.each do |location| %>
		<li><%= location.title %></li>
      <% end %>
    </ul>
  </p>
  <p>
  	<h3>Auslöser</h3>
    <ul>
      <% @entry.triggers.each do |trigger| %>
		<li><%= trigger.title %></li>
      <% end %>
    </ul>
  </p>
  <p>
  	<h3>Kommentare</h3>
    <%= @entry.comments %>
  </p>
  <dl>
  	<dt>def term</dt>
  	<dd>def text1</dd>
  	<dd>def text2</dd>
  	<dd>def text3</dd>
  </dl>
</div>
<div data-role="navbar" data-position="fixed">
	<ul>
		<li><%= link_to "Bearbeiten", edit_entry_path %></li>
		<li><%= link_to 'Löschen', @entry, confirm: 'Wirklich löschen?', method: :delete %></li>
		<li><%= link_to "Übersicht", entries_path %></li>
	</ul>
</div><!-- /navbar -->
